<html>
  <head>
    <title> New Shared Expense Alert</title>

  </head>
  <body>
    <h1>New Shared Expense Alert</h1>
    <p>Hello {{firstName}},</p>
    <p>A new shared expense has been added involving you. Please log in to your
      SplitCrew account to view and settle the expense.</p>

    <p>Best regards,<br />SplitCrew Team</p>

  </body>
</html>