<html>
  <head>
    <title>Password Reset Request</title>
  </head>
  <body>
    <p>
      Hello
      {{firstName}}
      {{lastName}},
    </p>
    <p>
      We received a request to reset your Let' Split app password. If you
      initiated this request, please follow the link below to set a new
      password:
    </p>
    <p>
      <a href="{{link}}">Reset Password</a>
    </p>
    <p>
      If you did not request a password reset, please ignore this email.
    </p>
    <p>Best regards,<br /><br />Let's Split App Team</p>
  </body>
</html>