<html>
  <head>
    <title>Password Reset</title>
  </head>
  <body>
    <p>
      Hello
      {{firstName}}
      {{lastName}},
    </p>
    <p>
      Your password has been successfully reset.
    </p>
    <p>
      If you did not request to reset your password, please contact us
      immediately.
    </p>
    <p>Best regards,<br /><br />SplitEase Team</p>
  </body>
</html>