<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's Split App - Register</title>
  </head>

  <body>
    <div class="container">
      <h1>Welcome to Let's Split App</h1>
      <p>Hello {{firstName}},</p>
      <p>Thank you for choosing Let's Split, the best app for splitting expenses
        with your friends, family and colleagues!</p>

      <p>Get started now by verifying your email with the link below after which
        you can proceed to log into your account!</p>
      <a href={{link}}>Verify Email Now</a>

      <p>Best regards,<br /><br />Let's Split App Team</p>

    </div>
  </body>

</html>